<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Create An Account</h1>
      <div>
        <form action="/users" method="post">
          <label for="form">First Name</label>
          <input type="text" name="first">
          <label for="form">Last Name</label>
          <input type="text" name="last">
          <label for="form">email</label>
          <input type="text" name="email">
          <label for="form">Date of Birth</label>
          <input type="text" name="first">
          <submit type="submit" value="create user" />
        </form>
    </div>
  </body>
</html>
