<!DOCTYPE html>
<html>
  <head>
  </head>
    <h1>      </h1>
    <div>
      <% users.forEach(function(user:user){ %>
      <span><%= users.firstName %></span>
      <span><%= users.lastName %></span>
      <span><%= users.email %></span>
      <span><%= users.dob %></span>
    </div>
    <% }) %>
  </body>
</html>
